.collapsible-content--wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    align-items: flex-start;
}

.collapsible-content--block {
    border-radius: 20px;
    margin-bottom: 10px;
    background: var(--body_alternate_background);
    transition: all 1s ease;
}

.collapsible--heading {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 10px;
}

.collapsible--text {
    padding: 0 10px;
}

.collapsible--icon {
    width: 36px;
    height: 36px;
    background: var(--heading_color);
    border-radius: 50%;
    color: var(--body_alternate_background);
    display: flex;
    align-items: center;
    justify-content: center;
}

.collapsible--icon svg {
    width: 14px;
    height: auto;
    transition: .5s ease;
}

.collapsible--content-body {
    padding: 25px 25px;
    padding-top: 0!important;
}

.collapsible-content--block[open] {
    background: var(--heading_color);
    border-color: var(--heading_color);
}

.collapsible-content--block[open] .collapsible--text {
    color: var(--body_alternate_background);
}

.collapsible-content--block[open] .collapsible--icon {
    background: var(--body_alternate_background);
    color: var(--heading_color);
}

.collapsible-content--block[open] .collapsible--icon svg {
    transform: rotate(45deg);
}

.collapsible-content--block[open] .collapsible--content-body * {
    color: var(--body_alternate_background);
}

@media (min-width:768px) {
    .collapsible-content--wrapper {
        grid-template-columns: 1fr 1.3fr;
        gap: 50px;
    }
    .collapsible-content--info {
        max-width: 90%;
        position: sticky;
        top: calc( var(--header_height, 0px) + 30px);
    }
    .collapsible--heading {
        padding: 20px;
    }
    .collapsible--content-body {
        padding: 25px 30px;
    }
}

@media (min-width:1200px) {
    .collapsible-content--info {
        max-width: 80%;
    }
    .collapsible--heading {
        padding: 25px;
    }
    .collapsible--content-body {
        padding: 25px 35px;
    }
    .collapsible--text {
        padding: 0 10px;
    }
}